<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            font-size: 1.5rem;
            margin: 70px 70px 70px 70px;
        }
        .content{
            font-size: 1.5rem;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        div{
            align-content: center;
        }
        input{
            margin-top: 20px;
            font-size: 1.5rem;
            width: 100%;
            height: 50px;
        }
        .content{
            height: 65vh;
        }
    </style>
</head>
<body>
    <div>
        <h1>New/Edit Post</h1>
    </div>

   <form th:action="@{/publish}"  th:object="${post}" method="POST">
       <input type="text" placeholder="Title" th:field="*{title}"/>
       <br>
       <input type="text" placeholder="Tags" name="tag" >
       <textarea class="content" placeholder="Write here...." th:field="*{content}"></textarea>
       <br>
       <input type="submit" value="Publish">
       <br>
   </form>
</body>
</html>