<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h2>Create Account</h2>
        <form action="#" th:action="@{/processRegistrationForm}"
                  th:object="${user}"
                  method="POST">
            <input placeholder="Username" type="text" th:field="*{name}">
            <br><br>
            <input placeholder="Email" type="text" th:field="*{email}"/>
            <br><br>
            <input placeholder="Password" type="text" th:field="*{password}"/>
            <br><br>
            <input placeholder="role" name="role" type="hidden" th:value="AUTHOR"/>
            <br><br>
            <input type="submit" value="Submit">
            <br><br>
        </form>
        <p>Login to account? <a href="/login">Login</a></p>
</body>
</html>